---
layout: layouts/base.njk
permalink: /work/
title: Work
eleventyNavigation:
  key: Work
  order: 2
---

<section class="hero">
  <div class="site-width">
    <h1>{{title}}</h1>
  </div>
</section>

<section>
  <div class="site-width">
       
    {% set postslist = collections.work %}
    {% include "postslist.njk" %}

  </div>

</section>