---
layout: layouts/home.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 2
---

<section>
  <div class="site-width">
    <h1>Archive</h1>
    
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}

  </div>

</section>