button,
.button,
input[type="submit"] {
  background-color: $accent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 100ms ease-out;
  text-decoration: none;
  color: #fff;
  -webkit-appearance: none;
  font-weight: normal;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
  transform: translate(-2px, -2px) scale(1.02);
}