html,
body {
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  font-family: 'Khula', sans-serif;
}

h1 {
  font-size: 2.8rem;
  line-height: 1;
  margin-bottom: 1rem;
  @include tablet {
    font-size: 4vw;
  }
}

ul,
ol {
  padding-left: 1rem;
}