.hero {
  background-color: $brand;
  padding-bottom: 0;
  // margin-top: -6.1rem;
  padding-top: 7.5rem;
  text-align: center;
  position: relative;
  @include tablet {
    // padding-top: 5.5rem;
    text-align: left;
  }
}

.hero--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include tablet {
    flex-direction: row;
    align-items: flex-end;
    background-image: url('/img/kirsten.jpg');
    background-repeat: no-repeat;
    background-position: -20px bottom;
    min-height: 500px;
  }
}

.hero--content > * {
  flex: 1;
}

.hero--copy {
  padding-bottom: 2rem;
  order: -1;
  
  @include tablet {
    order: 0;
    margin-right: 2vw;
    background-color: #fff;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 3px 3px 40px rgba(black, 0.2);
    position: relative;
    top: -3.5rem;
  }

  @include laptop {
    top: -5rem;
    margin-right: 0;
  }

  p {
    margin-bottom: 1rem;
  }

}

.hero img {
  max-width: 100%;
  display: block;
  @include tablet {
    max-width: 100%;
    width: 100% !important;
    display: none;
  }
}

.work--grid {
  list-style-type: none;
  padding: 0;
}

.work--item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  padding-bottom: 10rem;
  align-items: center;

  &:nth-child(even) {
    .work--content {
      @include tablet {
        order: -1;
      }
    }
  }

  .work--image a {
    display: flex;
    text-align: center;
    background-color: $accent;
    border-radius: 100%;
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  &.brand .work--image a,
  &.brand .button {
    background-color: $brand;
    color: $black;
  }

  &.accent-two .work--image a,
  &.accent-two .button {
    background-color: $accent-two;
    color: $black;
  }

  .work--image img {
    max-width: 75%;
    transform: translateY(150%) scale(0.5);
    transition: transform 600ms cubic-bezier(0, 0, 0, 1.59);
  }

  &.animate .work--image img {
    transform: translateY(0) scale(1);
  }

  .work--title a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    font-size: 2rem;
  }
  
  .work--excerpt {
    margin-bottom: 2rem;;
  }

  // .button {
  //   background-color: $accent-two;
  //   color: $black;
  // }

}

.contact-me {
  background-color: $brand;

  input[type="submit"] {
    display: block;
    background-color: $accent;
    color: $black;
    margin-left: auto;
    margin-right: auto;
  }

}