<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/global.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body class="page--{{page.inputPath.split('/')[1].split('.')[0]}}">

    {% include "_header.njk" %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {% include "_footer.njk" %}

    <!-- Current page: {{ page.url }} -->
    {% if page.url === '/' or page.url === '/work/' %}
      <script src="{{ '/js/waypoints.js' | url }}"></script>
    {% endif %}
    {% if page.url === '/' %}
      <script src="{{ '/js/atomic.js' | url }}"></script>
    {% endif %}
    <script src="{{ '/js/scripts.js' | url }}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300;800&display=swap" rel="stylesheet">
  </body>
</html>
