---
layout: layouts/base.njk
templateClass: tmpl-post
---

<section class="hero {{ color }}">
  <div class="site-width">
    {% if icon %}
      <img src="{{ icon | url }}" alt="">
    {% endif %}
    {% if page.url === '/resume/' %}
      <a download class="button resume--download-file" href="{{ '/files/KB_resume.pdf' | url }}">Download to .pdf</a>
    {% endif %}
    <h1>{{ title }}</h1>
  </div>  
</section>

<section>
  <div class="site-width">
    <div class="post">
      <article>
        {{ content | safe }}
      </article>
    </div>
  </div>
</section>